# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/secrets.yaml
/.esphome/
/build/
**/.vscode/
**/.pioenvs/
**/.piolibdeps/
**/lib/
**/src/
**/partitions.csv
**/platformio.ini
**/__pycache__/
